/* width */
::-webkit-scrollbar {
  width: 6px;
  padding: 2px 2px;
  border-radius: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(99, 115, 129,0.3); 
  border-radius: 6px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(99, 115, 129,0.8); 
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(99, 115, 129,0.9); 
}

#root{
  overflow-y: hidden;
}